*{
    margin: 0;
    padding: 0;
}
.form{ 
    width: 350px;
    background-color:rgb(235, 148,199);
    padding: 20px;
    margin: 24px auto;

}
.form form label{
    display: block;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 12px;
}
.form form input{
    width: 50%;
    height: 20px;
    font-size: 20px;
    outline: none;
    border: 5px solid;

    background-color: rgba(241, 247, 247, 0.925);
}
